

<div class="card p-0 col-md-4 col-xl-3">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="card-header p-2">
      <h2>Sign up</h2>
    </div>
    <div class="card-body p-2">
      <div class="form-group">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: 'form-control' }%>
      </div>
      <div class="form-group">
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password", class: 'form-control' } %>
      </div>
    </div>

    <div class="card-footer">
      <div class="form-group">
        <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
