<div class="">
  <div class="row mb-4 text-end justify-content-end bg-primary p-2">
    <%= link_to 'Most Recent', groups_path(sort: 'recent'), class: 'text-decoration-none text-light mw-100' %>
    <%= link_to 'Most Ancient', groups_path(sort: 'ancient'), class: 'text-decoration-none text-light mw-100' %>
  </div>

  <div class="row gap-2 justify-content-center p-3 pt-0 mt-0 pb-5">
    <% @groups.each do |group| %>
      <div class="col-md-12 card p-0">
        <%= link_to group_entities_path(group), class: 'text-decoration-none text-secondary' do %>
          <div class="d-flex">
            <div class="col-3 col-md-1">
              <img src=<%= group.icon %> class='img-tumbnail'>
            </div>
            <div class="col-6 col-md-8">
              <div class="col-12">
                <%= group.name %>
              </div>
              <div class="col-12 mt-4">
                <%= group.created_at.strftime('%b %d %Y') %>
              </div>
            </div>
            <div class="col-3">
              <% sum = @group_entity_sums[group.id] || 0 %>
              <p class='text-bold text-dark text-end pe-1'><%= number_to_currency(sum, unit: "$") %></p>
            </div>
          </div>
          <div class="p-1">
            <%= form_with(model: group, url: group_path(group), method: :delete, data: { confirm: 'Are you sure?' }, class: 'd-flex gap-2 justify-content-end') do |form| %>
              <%= link_to edit_group_path(group), class: 'btn btn-sm btn-primary mr-2' do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= form.button type: 'submit', class: 'btn btn-danger btn-sm' do %>
                <i class="fa fa-trash"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
  
  <div class="bottom-element w-100">
    <%= link_to "Add Group", new_group_path(), class: "btn btn-success w-100" %>
  </div>
